
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Baloo', sans-serif;

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  background: url('/freeCards/assets/background.png') center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
}

.logo {
  margin: 20px auto;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  h1 {
    font-family: $font-secondary;
    font-size: 32px;
    text-transform: uppercase;
  }

  p {
    max-width: 600px;
    margin: 1em auto;
    font-size: 13px;
    letter-spacing: 0.02em;
    a {
      color: #9B01C1;
      font-weight: bold;
    }
  }

  form {
    input {
      display: block;
      height: 32px;
      width: 300px;
      margin: 20px auto;
      font-size: 12px;
      color: white;
      background: transparent;
      outline: none;
      border: 0;
      border-bottom: 1px solid #7B77D2;
      font-family: $font-secondary;
      box-shadow: 0 6px 6px -3px rgba(#36265F, .8);
    }
    :-ms-input-placeholder {
      color: white;
    }
    ::-ms-input-placeholder {
      color: white;
    }
    ::placeholder {
      color: white;
      opacity: 1;
    }
  }

  .button-wrapper {
    width: 114px;
    margin: 45px auto;
    height: 38px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: white;
    position: relative;
    padding: 0;
    font-size: 14px;
    font-family: $font-secondary;
    text-shadow: 0px 0px 5px #9B01C1;
    &:hover {
      color: darken(white, 15);
    }

    svg {
      position: absolute;
      left: -144px;
      top: -8px;
      z-index: -1;
    }
  }

  .card-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: $font-secondary;
    .inner-wrapper {
      position: relative;

      .rarity-overlay {
        &.blue {
          position: absolute;
          top: -25px;
          left: -26px;
          width: 236px;
          height: 300px;
          background-size: 100%;
          background: url("/freeCards/assets/blue-rarity-border.png") no-repeat;
        }
        &.gold {
          position: absolute;
          top: -19px;
          left: -23px;
          width: 236px;
          height: 300px;
          background-size: 100%;
          transform: scale(1.03);
          background: url("/freeCards/assets/gold-rarity-border.png") no-repeat;
        }
        &.purple {
          position: absolute;
          top: -22px;
          left: -24px;
          width: 343px;
          height: 300px;
          background-size: cover;
          transform: scale(1.02);
          background: url("/freeCards/assets/purple-rarity-border.png") no-repeat;
        }
      }

      .card-title, .card-type {
        position: absolute;
        width: 164px;
        left: 19px;
        text-align: center;
        text-transform: capitalize;
        bottom: 55px;
      }

      .card-type {
        bottom: 27px;
        font-size: 14px;
      }

      .cost, .gains {
        position: absolute;
        top: 20px !important;
        z-index: 3;

        $orb-radius: 16px;

        &:before,
        &.cost .orb:before,
        &.gains .orb:after {
          content: attr(data-name);
          text-transform: capitalize;
          height: 33px;
          position: absolute;
          top: 0px;
          font-size: 14px;
          line-height: 35px;
        }
        &.cost:before {
          left: -30px;
          top: -55px;
          width: 80px;
          height: 60px;
          line-height: 100px;
          text-align: left;
          font-size: 14px;
          padding-left: 20px;
          box-sizing: border-box;
        }
        &.gains:before {
          right: -22px;
          top: -20px;
          width: 80px;
          height: 60px;
          text-align: left;
          font-size: 14px;
          padding-left: 20px;
          box-sizing: border-box;
        }
        &.cost .orb:before {
          padding: 0 15px 0 40px;
          right: 28px;
        }
        &.gains .orb:after {
          padding: 0 40px 0 15px;
          left: 28px;
        }
        &.cost {
          left: -54px !important;

          .orb {
            border-bottom-right-radius: $orb-radius;
            border-top-right-radius: $orb-radius;
          }
        }
        &.gains {
          left: auto;
          right: -46px !important;

          .orb {
            border-bottom-left-radius: $orb-radius;
            border-top-left-radius: $orb-radius;
          }
        }
        width: 40px;
        .orb {
          position: relative;
          width: 47px;
          height: 33px;
          padding: 6px 0;
          margin: 10px 0;
          line-height: 22px;
          color: white;
          font-size: 14px;
          font-family: $font-secondary;
          text-align: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          box-sizing: border-box;
        }
        &.gains {
          .orb.funds {
            background: linear-gradient(90deg, #FF9D14 24.31%, rgba(255, 157, 20, 0) 100%);
          }
          .orb.power {
            background: linear-gradient(90deg, #BC0924 24.31%, rgba(189, 9, 37, 0) 100%);
          }
          .orb.xp {
            background: linear-gradient(90deg, #2AD100 24.31%, rgba(42, 209, 0, 0) 100%);
          }
          .orb.space {
            background: linear-gradient(90deg, #3CC8CC 24.31%, rgba(60, 200, 204, 0) 100%);
          }
          .orb.development {
            background: linear-gradient(90deg, #9B01C1 24.31%, rgba(155, 1, 193, 0) 100%);
          }
        }
        &.cost {
          .orb.funds {
            background: linear-gradient(-90deg, #FF9D14 24.31%, rgba(255, 157, 20, 0) 100%);
          }
          .orb.space {
            background: linear-gradient(-90deg, #3CC8CC 24.31%, rgba(60, 200, 204, 0) 100%);
          }
          .orb.level {
            background: linear-gradient(-90deg, #2AD100 24.31%, rgba(42, 209, 0, 0) 100%);
          }
          .orb.development {
            background: linear-gradient(-90deg, #9B01C1 24.31%, rgba(155, 1, 193, 0) 100%);
          }
          .orb.power {
            background: linear-gradient(-90deg, #BC0924 24.31%, rgba(189, 9, 37, 0) 100%);
          }
        }

        .description {
          width: 190px;
          text-align: left;
          font-size: 12px;
          margin: 0;
          line-height: 1.3em;

          .mechanics {
            margin: 8px 0;
          }

          .flavor {
            margin: 8px 0;
            font-family: $font-primary;
            font-style: italic;
            opacity: 0.7;
          }
        }
        .type {
          width: 120px;
          text-align: left;
          font-size: 14px;
          padding-left: 2px;
          margin: 8px 0;
        }
      }

      .backdrop {
        background: linear-gradient(to right, rgba(#130D23, 0), rgba(#130D23, .5), rgba(#130D23, 0));
        position: absolute;
        width: 800px;
        height: 400px;
        bottom: 60px;
        left: -300px;
        right: 0;
        z-index: -1;
        &:after {
          background: linear-gradient(to right, rgba(#9797FB, 0), #9797FB, rgba(#9797FB, 0));
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }


  &.error {
    padding-bottom: 100px;
    h1 {
      margin: 10px auto 0;
    }
    svg {
      margin: 0 auto;
    }
  }
}
